#logo
{
    height: 51px;
    width: 103px;
}
.navbar
{
    display: flex;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 5px 6px 18px #827e7e;
}
.navstyle
{
    list-style-type: none;
    padding-left: 73px;
    font-size: 16px;
}
.mainlist{
    display: flex;
}
#btn
{
   
    height: 36px;
    border-radius: 10px;
    background-color: black;
    color: white;
    margin-top: -9px;
    cursor: pointer;
    margin-left: 115px;
}
.modal{
    position:fixed;
    margin-top: 120px;
    margin-left: 30%;
    height: 65%;
    width:37%;
    border-radius: 6px;
    box-shadow:8px 8px 47px #999;
}
.close
{
    float: right;
    color: red;
    margin-right: 5px;
    cursor: pointer;
    margin-top: -15px;
  
}